<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Ucode - Comprole de Aluno" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>    
    <MudNavGroup Title="Cadastro" Expanded="true">
        <MudNavLink Href="/alunos">Alunos</MudNavLink>
        <MudNavLink Href="/cursos">Cursos</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>
